<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
</head>

<body>
    <nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="query" href="/query">Query</a>
          <a class="nav-item nav-link" id="irsa" href="/irsa">IRSA</a>
        </div>
      </div>
    </nav> 
    <h1>Use the buttons up top to navigate to the different options</h1>      
</body>
</html>